<h1><%= @sub.title.capitalize %> </h1>

<h2><%= @sub.description %></h3>
<h4>Mods: <%= @sub.moderator.username %></h5>

<% unless @sub.posts.empty? %>
  <ul>
    <% @sub.posts.each do |post| %>
      <li><%= link_to "#{post.title}", post_url(post.id) %> -- 
        <%= link_to "#{post.author.username}", user_url(post.author.id) %></li>
    <% end %>
  </ul>
<% end %>

<br>

<%= link_to 'Make a new post!', new_post_url %>
<% if logged_in? && current_user.id == @sub.moderator_id %>
  <%= link_to 'Edit Subleddit', edit_sub_url %>
<% end %>
