<h1><%= @post.title %></h1>

<p>OP: <%= link_to "#{@post.author.username}", user_url(@post.author.id) %></p>
<p>Subs:</p>
<ul>
  <% @post.subs.each do |sub| %>
    <li><%= sub.title %></li>
  <% end %>
</ul>

<% if @post.url %>
  <%= link_to "#{@post.url}", @post.url %>
<% end %>

<%= @post.content if @post.content %>
<br>

<% top_lvl_comments = @post.comments.where(parent_comment_id: nil) %>
<% unless top_lvl_comments.empty? %>
  <p>Comments:</p>
  <% top_lvl_comments.each do |top| %>   
      <ul><%= generate_children_comments(top, @all_comments) %></ul>
    <% end %>
<% end %>
<br>
<%= link_to 'Reply', new_post_comment_url(@post.id) %>

<% if current_user == @post.author %>
  <%= link_to 'Edit Post', edit_post_url(@post.id) %>
<% end %>


