<br>
<table>
  <thead>
    <tr>
      <th colspan="2"><%= @album.title %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Band</td>
      <td><%= @album.band.name %></td>
    </tr>
    <tr>
      <td>Year</td>
      <td><%= @album.year %></td>      
    </tr>
    <tr>
      <td>Live/Studio</td>
      <td><%= @album.studio ? "Studio" : "Live" %></td>
    </tr>
  </tbody>
</table>
<br>
<%= link_to "Edit", edit_album_url %>
<br>
<%= link_to "Back to artist", band_url(@album.band_id) %>