<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <% if current_user %>
      <%= button_to 'Logout', sessions_url, method: :delete %>
    <% end %>
  </header>

  <body>
    <%= yield %>

    <% unless logged_in? %>
      <%= link_to 'Log In', new_sessions_url %>
      <%= link_to 'Sign Up', new_user_url %>
    <% end %>
  
  </body>
</html>
